<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://use.fontawesome.com/2361e506b1.js"></script>
</head>
<body>
    <div class="topnav">
        <p>Abington Senior High School</p>
    </div>
    <div class="header">
        <p>Course Directory</p>
    </div>

    <div class="wrapper">
        <div class="container">
            <div id="bttnBox" style="height: 380px;">

                <h1 style="margin-bottom:20px; text-align:center;font-size: 40px;">Welcome</h1>
                <p style="font-weight: bold; text-align:center; margin-bottom: 10px;">Sign in to select courses</p>
                <div>
                    <div class="homebtn">
                        <div class="btn">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <!--https://fontawesome.com/v4.7/icon/graduation-cap-->
                        <form method="post" action="/">
                            <input type="submit" value="Student Access" style="border:none;" class="mytext" name="studentAccess" />
                        </form>
                    </div>
                </div>
                <div>
                    <div class="homebtn">
                        <div class="btn">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <!--https://fontawesome.com/v4.7/icon/key-->
                        <form method="post" action="/">
                            <input type="submit" value="Administrative Access" style="border:none;" class="mytext" name="adminAccess" />
                        </form>
                    </div>
                </div>
                <p style="font-weight: bold;margin-top: 30px; text-align: center; margin-bottom: 10px;">Browse Courses</p>
                <div>
                    <div class="homebtn">
                        <div class="btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <!--https://fontawesome.com/v4.7/icon/search-->
                        <form method="post" action="/">
                            <input type="submit" value="Course Catalog" style="border:none; margin-bottom:15px;" class="mytext" name="catalogButton" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>Abington School District © 2022. All Rights Reserved.</p>
    </footer>


    <script type="text/javascript" src="script.js"></script>
</body>
</html>

