<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request Courses</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://use.fontawesome.com/2361e506b1.js"></script>
</head>
<body>
    <div class="topnav">
        <p>Abington Senior High School</p>
    </div>
    <div class="header">
        <p>Request Courses</p>
    </div>

    <div class="wrapper">
        <div class="container">
            <div id="bttnBox">

                <h1 style="margin-bottom:20px; margin-top:10px; text-align:center; font-size: 20px;">Review Your Selected Courses</h1>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 1</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 2</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 3</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 4</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 5</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 6</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 7</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 8</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 9</div>
                        <div>10 credits</div>
                    </div>
                </div>
                <div style="margin-left: 25px; margin-right:25px;font-size: 18px;">
                    <div class="fa fa-times"></div>
                    <div class="choicesText">
                        <div>Class 10</div>
                        <div>10 credits</div>
                    </div>
                </div>

                <div>
                    <form method="post" action="/">
                        <input type="submit" value="Submit Schedule Request" style="margin-left:; border:none;" class="scheduleRequestBtn" name="scheduleRequestBtn" />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <p>Abington School District © 2022. All Rights Reserved.</p>
    </footer>


    <script type="text/javascript" src="script.js"></script>
</body>
</html>