* {
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-container {
	min-height: 100%;
}

.wrapper {
	padding-bottom: 20px;
}

.topnav {
	background-color: #000000;
	overflow: hidden;
	position: fixed;
	top: 0;
	height: 35px;
	width: 100%;
	line-height: 35px;
	z-index: 999;
}

	.topnav p {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 70;
		color: #FFFFFF;
		margin: auto;
		margin-left: 70px;
	}

.header {
	background-color: rgb(150, 38, 38);
	overflow: hidden;
	position: fixed;
	height: 70px;
	width: 100%;
	top: 35px;
	line-height: 70px;
	z-index: 998;
}

	.header p {
		font-size: 40px;
		font-weight: 100;
		color: #FFFFFF;
		margin: auto;
		margin-left: 70px;
	}

/*home*/
#bttnBox {
	align-self: center;
	border-style: groove;
	margin: auto;
	width: 500px;
	height: unset;
	background-color: #f2f2f2;
	font-style: bold;
	margin-bottom:200px;
}

.homebtn{
  padding-bottom: 20px;  
  height: 60px;
  margin-bottom: 10px;
}

.homebtn .mytext{
  background-color: black;
  position: relative;
  color: white;
  margin: 2px 160px;
  width: 235px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.homebtn .btn{
	margin: 2px 100px;
  background-color: rgb(150, 38, 38);
  position: absolute;
  width: 60px;
  height: 60px;
}

.homebtn .btn .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

/*public_catalog*/
.container {
	margin-top: 150px;
}

.mainArea {
	margin: auto;
	align-self: center;
	width: 900px;
	height: 800px;
}

.mainArea .mainSpace {
	position: absolute;
	margin-left: 200px;
	width:700px;
}

.mainArea .search_box {
	padding-bottom: 20px;
}

	.mainArea .search_box .input {
		position: absolute;
		width: 100%;
		height: 60px;
		padding: 10px 20px;
		font-size: 18px;
		background-color: #f2f2f2;
	}

	.mainArea .search_box .btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
	}

		.mainArea .search_box .btn .fas {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #ffffff;
			width: 60px;
			height: 60px;
			background: rgb(150, 38, 38);
			border: none;
			cursor: pointer;
		}

		.mainArea .search_box .btn .fas:hover {
			background:black;
		}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:hover {
	background-color: #d4d4d4;
}

.mainArea .results {
	color: #000000;
	margin-top: 60px;
	font-size: 15px;
	background-color: #f2f2f2;
	border: 2px solid black;
	width:100%;
}

.course-name {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 20px;
}

.descriptions {
	margin-left:5px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
}

.fa-plus {
	position: absolute;
	color: black;
	width: 30px;
	height: 30px;
	cursor: pointer;
	right:0px;
}

	.fa-plus:hover + .course-name {
		color:blue;
	}

.cart {
	position:absolute;
	right: 0px;
	top:115px;
}

.course-choices {
	position: absolute;
	right: 0px;
	width: 200px;
	height: 300px;
	background-color: black;
}

.cartBtn {
	position: absolute;
	right:15px;
	margin-top:15px;
}

.cartBtn .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	width: 30px;
	height: 30px;
	background: rgb(150, 38, 38);
	border: none;
	cursor: pointer;
}

.cartBtn .fa:hover {
	background: #000000;
}

.choicesText {
	margin-left: 25px;
	display: flex;
	justify-content: space-between;
	color:white;
}

#bttnBox .choicesText {
	color: black;
}

#bttnBox .fa-times {
	position: absolute;
	margin-right:500px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: none;
	color: black;
	margin-top: 0px
}

	#bttnBox .fa-times:hover {
		color: rgb(150, 38, 38);
	}

	#bttnBox .fa-times:hover + .choicesText {
		color: rgb(150, 38, 38);
	}

.course-choices .fa-times {
	position: absolute;
	color: #ffffff;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-top: 2px;
	background:none;
}

	.course-choices .fa-times:hover {
		color: rgb(150, 38, 38);
	}

		.course-choices .fa-times:hover + .choicesText {
			color: rgb(150, 38, 38);
		}

.viewCoursesBtn {
	background: rgb(150, 38, 38);
	color: white;
	height: 30px;
	width: 150px;
	border: 2px solid white;
	position:absolute;
	bottom:15px;
	left:25px;
}

	.viewCoursesBtn:hover {
		background: #000000;
	}

/*SIDEBAR*/
.sidebar {
	height: unset;
	width: 180px;
	background-color: black;
	overflow-x: hidden;
	position: absolute;
	margin-bottom: 800px;
}

	.sidebar p {
		color: white;
		text-align: center;
	}

	.sidebar .filterType, .dropdown, .sidebar p {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		outline: none;
	}

	.sidebar a:hover, .sidebar .filterType:hover, .dropdown:hover {
		color: #f1f1f1;
	}

/* Dropdown container (hidden by default).*/
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}

.fa-caret-down {
	float: right;
	padding-right: 8px;
}

/*FOOTER*/
.footer {
	position: absolute;
	z-index: 997;
	left:0px;
	right:0px;
	height: 40px;
	line-height: 40px;
	background-color: black;
	text-align: center;
	/*width:100%;*/
}

	.footer p {
		color: white;
	}

/*REQUEST COURSES PAGE*/
.scheduleRequestBtn {
	background: rgb(150, 38, 38);
	color: white;
	height: 40px;
	width: 170px;
	margin-left:175px;
	margin-top:15px;
	margin-bottom:15px;
	border: 2px solid white;
}

	.scheduleRequestBtn:hover {
		background: #000000;
	}
